

.main{
    width: 1200px;
    height:800px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
    margin: 7px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar{
    box-shadow: 1px 5px rgba(0, 0, 0, 0.20);
}

.footer{
    width: 100%;
    border-top:5px solid rgba(0, 0, 0, 0.20);
    background-color: rgba(0, 0, 0, 0.20);
    height: 50px;

}

p {
    padding-left: 75px;
    padding-right: 74px;
    text-align: justify;
    font-size: 14px;
}



.container{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}


.copyright{
    text-align: center;
    padding-top: 15px;
    font-size: small;
    color: rgba(255, 255, 255, 0.555);
}

.text {
    text-align: center;
    color: rgba(220, 220, 220, 0.75);
    padding-top: 50px;
}

.text h1 {
    font-weight: 700;
    margin-bottom: 15px;
}
